.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.container {
  width: 500vw;
  height: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100% - 4rem);
  margin-top: 4rem;
}

header {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #fff;
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.headerNavWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
}
header li {
  text-align: center;
  line-height: 3;
  height: 4rem;
  width: calc(100% / 5);
}
header ul a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out 0s;
  transition-delay: 0.05s;
}
header ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
header ul a.active {
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
  transition-delay: 0.05s;
}
header ul a.active::before {
  transform: translate(0, 0);
}

header ul a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: royalblue;
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
  content: '';
}
.headerText {
  position: relative;
  z-index: 2;
}
.homeContainer {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
.aboutContainer {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}
.skillsContainer {
  width: 100%;
  height: 100%;
  background-color: coral;
}
.worksContainer {
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
}
.contactContainer {
  width: 100%;
  height: 100%;
  background-color: palevioletred;
}